x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  reverse:
    restart: always
    build:
      context: nginx
    ports:
      - "51120:80"
    environment:
      BACKEND_HOST: ${BACKEND_HOST:-backend}
      FRONTEND_HOST: ${FRONTEND_HOST:-frontend}
      QGIS_HOST: ${QGIS_HOST:-qgis-server}
    volumes:
      - ${MAPS_PATH}:/var/www/frontend/public:ro
    networks:
      - default
      - dokploy-network
    logging: *default-logging
    depends_on:
      backend:
        condition: service_healthy
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.next-app.rule=Host(`zegraph.xyz`)
        - traefik.http.routers.next-app.entrypoints=web
        - traefik.http.services.next-app.loadbalancer.server.port=51120
  frontend:
    restart: always
    build:
      context: front-gfl
      args:
        BUILD_ENV: production
        DISCORD_CLIENT_ID: ${DISCORD_AUTH2_CLIENT_ID}
        NEXT_PUBLIC_DISCORD_AUTH2_REDIRECT_URI: ${DISCORD_AUTH2_REDIRECT_URI}
        NEXTAUTH_URL: ${CLIENT_AUTH_REDIRECT_URI}
        DISCORD_CLIENT_SECRET: ${DISCORD_AUTH2_CLIENT_SECRET}
        STEAM_SECRET: ${STEAM_API_KEY}
        NEXT_PUBLIC_DOMAIN: ${NEXT_PUBLIC_DOMAIN}
        NEXT_PUBLIC_POSTHOG_KEY: ${NEXT_PUBLIC_POSTHOG_KEY}
        NEXT_PUBLIC_POSTHOG_HOST: ${NEXT_PUBLIC_POSTHOG_HOST}
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
        FRONTEND_URL: ${FRONTEND_URL}
        ANALYZE: ${ANALYZE}
    volumes:
      - thumbnails:/var/www/thumbnails:ro
      - tile_cache:/var/cache/nginx/qgis_tiles
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
        reservations:
          cpus: '0.25'
          memory: 256M
    depends_on:
      backend:
        condition: service_healthy
  backend:
    restart: always
    user: "10001:956"
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file:
      - .env
    build:
      context: .
      target: final
      args:
        DATABASE_URL: ${DATABASE_URL}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      CACHE_THUMBNAIL: /var/www/thumbnails
      STORE_UPLOAD: /var/www/maps
    volumes:
      - thumbnails:/var/www/thumbnails
      - ${MAPS_PATH}:/var/www/maps:rw
      - ${VAPIDS_PATH}:/app/vapids:ro
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 512M
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://backend:3000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    restart: always
    image: redis:8.0-alpine
    volumes:
      - redis-data:/data
      - ${REDIS_CONF_PATH}:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 3G
        reservations:
          cpus: '0.1'
          memory: 128M
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
  pfp-provider:
    restart: always
    build:
      context: ./pfp-provider
    environment:
      REDIS_URL: ${REDIS_URL}
      STEAM_API_KEY: ${STEAM_API_KEY}
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 128M
  qgis-server:
    volumes:
      - ${QGIS_PROJECT_PATH}:/home/qgis/project
    build:
      context: ./qgis-server
    environment:
      LANG: en_EN.UTF-8
      QGIS_PROJECT_FILE: /home/qgis/project/project.qgz
      QGIS_SERVER_LOG_LEVEL: 0
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.25'
          memory: 256M

volumes:
  thumbnails:
  tile_cache:
  redis-data:

networks:
  default:
  dokploy-network:
    external: true
