#root {
  width: 100%;
  text-align: center;
}
.chart-wrapper{
  padding: 1rem;
}
.chart-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.chart-interaction{
  cursor: grab;
}
.chart-interaction:active{
  cursor: grabbing;
}
p {
  margin: 0;
}