name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, scala]

    steps:
    - name: Deploy over SSH
      run: |
          cd /home/stella/gfl-ze-watcher
          git pull origin main
          docker compose up --build -d
